@for (tokens of tokenizedParagraphs; track $index; let i = $index) {
  <div class="paragraph">
    <p>
      @for (token of tokens; track token.text + $index) {

        @if (token.type === 'word') {
          <span
            class="word"
            appWordHighlight
            [mode]="highlightMode"
            (leftClick)="onTokenLeftClick(token, paragraphs[i])"
            (rightClick)="onTokenRightClick(token, paragraphs[i])"
            [savedEntry]="savedEntriesMap[normalizeToken(token)]"
            [previewEntry]="previewEntriesMap[normalizeToken(token)]"
          >
            {{ token.text }}
          </span>
        } @else {
          {{ token.text }}
        }

      }
    </p>
  </div>
}
