ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    &.selected {
      background-color: #eef;
    }

    button {
      margin-left: 8px;
    }
  }
}
