.text-display {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 200px;
}

.highlight {
  background-color: rgb(80, 234, 154);
}

.progress-bar {
  width: 100%;
  background: #eee;
  height: 10px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background: #649bee;
}
