<div class="reading-page">
  <h2>Reading Page</h2>
  <!-- color btn display -->
  <app-toggle-switch label="Dark Mode" [checked]="highlightModeDiscreteSignal()"
    (checkedChange)="highlightModeDiscreteSignal.set($event)">
  </app-toggle-switch>

  <!-- test text display -->
  <div class="text-display">
    <app-text-display [paragraphs]="currentPageParagraphs" [savedWords]="savedWords()" [previewWords]="previewWords()"
      [highlightMode]="highlightModeDiscreteSignal() ? 'discrete' : 'continuous'"
      (wordSelected)="handleWordSelected($event)">
    </app-text-display>
  </div>




  <!-- pagination btn -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPageSignal() <= 1">Previous</button>
    <span>Page {{ currentPageSignal() }} / {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPageSignal() >= totalPages">Next</button>
  </div>


  <!-- reading progress -->
  <div class="progress">
    Progress: {{ getProgressPercent() | number:'1.0-1' }} %
  </div>

  <!-- word table component -->
  <app-vocabulary-table [words]="savedWords()" [allowDelete]="true" [allowSort]="true" (deleteWord)="deleteWord($event)">
  </app-vocabulary-table>

  <!--单独查词panel-->
  <div class="current-word-entry-container">
    currentWord:{{currentSelectedWordEntry()?.normalized}} def:{{currentSelectedWordEntry()?.definition}}
  </div>




  <!-- word table import and export -->
  <div class="word-table-controls">
    <label>Import Word Table:</label>
    <input type="file" (change)="onImportFile($event)" />
    <button (click)="exportWordTable()">Export Word Table</button>
  </div>